.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  color: var(--color-black--);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  @extend %marginAuto;
}
