.checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

.clients {
  margin-top: 50px;
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  padding: 16px 32px;
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    color: #2196f3;
  }
  @media screen and(max-width:767px) {
    width: 195px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
textarea {
  resize: none;
}
.clients {
  @media screen and(max-width: 1200px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}
.clients__item {
  @media screen and(max-width: 767px) {
    margin: 15px;
  }
}
