.section__work--nopaddingtop {
  padding-top: 0px;
}
.section__title {
  color: var(--color-black--);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.works {
  margin-top: 50px;
  display: flex;
}
.works__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work__container {
  width: 100%;
  height: 70px;
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0%;
  text-align: center;

  font-weight: 700;
  background: rgba(47, 48, 58, 0.8);
}
.work__container--title {
  color: #ffffff;
  text-transform: uppercase;
}
.section__work--nopaddingtop {
  @media screen and(max-width: 767px) {
    display: none;
  }
}
