.features {
  display: flex;
}

.features__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--color-black--);
}
.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.feature__box {
  width: 270px;
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}
.features {
  @media screen and(max-width: 767px) {
    max-width: 480px;
    display: block;
  }
}

.feature__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.feature__box {
  @media screen and(max-width: 767px) {
    width: 450px;
    height: 120px;
  }
}
