.product__thumb {
  position: relative;
  overflow: hidden;
}
.flex-filters {
  display: flex;
  flex-wrap: wrap;
}
.flex-element__item {
  padding: 24px 20px;
}

.gallery__item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;

  flex-basis: calc((100% - 60px) / 3);

  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery__item {
  @media screen and(min-width: 1200px) {
    .gallery__item:nth-child(3n) {
      margin-right: 0px;
    }
  }
}
.gallery__item {
  @media screen and(min-width: 1200px) {
    .gallery__item:nth-last-child(-n + 3) {
      margin-right: 0px;
    }
  }
}
.gallery__item .product__item {
  justify-content: center;

  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.flex-element__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-bottom: 4px;
  justify-content: center;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-thumb__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-thumb__text {
  color: #ffffff;
}

.product__link {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .product-thumb__box,
  &:focus .product-thumb__box {
    transform: translateY(0);
  }
}
.gallery {
  @media screen and(max-width: 767px) {
    display: block;
  }
}
